.group-border {
    border: 1px dashed #ccc;
    display: flex;
    // flex-direction: column;
    margin: 12px;
    margin-top: 42px;
    padding: 8px 24px 24px;
    width: fit-content;
    border-radius: 36px;
    position: relative;
    // min-width: 460px;

    &::after {
        content: 'Bảng giá';
        position: absolute;
        top: -12px;
        background-color: #ffffff;
        padding: 2px 18px;
        font-weight: 600;
        left: 50%;
        color: #333;
        transform: translateX(-50%);
        border-radius: 12px;
    }
}
