.product-cover {
    height: 200px;
    width: 98vw;
    max-width: 1200px;
    margin: auto;
    background-position: top;
    background-size: cover;
    border-radius: 0 0 24px 24px;
    filter: brightness(0.75);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
