@import url('../../index.css');

.product-intro {
    background-color: white;
    margin: auto;
    padding: 24px;
    border-radius: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    width: 85%;
    z-index: 1;
    max-width: 800px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 64px;

        &__text {
            width: 64%;
            .title {
                font-weight: bold;
                font-size: 24px;
                line-height: 1.2;
            }
            .sub-title {
                font-size: 14px;
                font-weight: 300;
            }
        }
        margin-bottom: 18px;
    }

    .description {
        display: flex;
        width: 100%;
        p {
            font-size: 14px;
            text-align: justify;
            line-height: 1.5;
        }
    }
}
