.product-plans {
    .chakra-accordion__item {
        border: none;
    }
    .chakra-accordion__button {
        padding: 0;
    }
    .chakra-accordion__panel {
        padding: 12px 32px 24px;
    }
}

.product-plan {
    background-color: white;
    margin: auto;
    border-radius: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin-top: 24px;
    overflow: hidden;
    // box-shadow: var(--neumorphism);
    box-shadow: var(--neumorphism-sm);

    &.sale {
        background: radial-gradient(
                    circle at 100% 100%,
                    #ffffff 0,
                    #ffffff 19px,
                    transparent 19px
                )
                0% 0%/23px 23px no-repeat,
            radial-gradient(
                    circle at 0 100%,
                    #ffffff 0,
                    #ffffff 19px,
                    transparent 19px
                )
                100% 0%/23px 23px no-repeat,
            radial-gradient(
                    circle at 100% 0,
                    #ffffff 0,
                    #ffffff 19px,
                    transparent 19px
                )
                0% 100%/23px 23px no-repeat,
            radial-gradient(
                    circle at 0 0,
                    #ffffff 0,
                    #ffffff 19px,
                    transparent 19px
                )
                100% 100%/23px 23px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 8px)
                calc(100% - 46px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 46px)
                calc(100% - 8px) no-repeat,
            linear-gradient(
                145deg,
                #c213de 0%,
                #e93c0d 9.915%,
                #db0ba8 64.965%,
                #f81b46 68.292%,
                #e2052e 100%
            );
        padding: 4px;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            font-weight: 600;
            font-size: 20px;
        }

        .price {
            margin-left: 12px;
            background-color: var(--props-color);
            color: white;
            font-weight: 800;
            font-size: 14px;
            padding: 6px 14px;
            border-radius: 24px;
        }
    }

    .container {
        padding: 24px;
        width: 100%;
        border-radius: 22px;
    }

    .description {
        margin-top: 16px;
        .description-item {
            line-height: 1.8;
            font-size: 16px;
        }
    }
}

.plan-option {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 14px 0;
    padding: 16px 16px 16px 24px;
    border-radius: 24px;
    box-shadow: var(--neumorphism-sm);
    width: 100%;
    // max-width: 340px;
    font-size: 18px;
    align-items: center;

    &__duration {
        font-weight: 700;
    }

    &__price {
        background-color: var(--props-color);
        color: white;
        font-weight: 800;
        font-size: 14px;
        padding: 4px 12px;
        border-radius: 32px;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .old-price {
                font-size: 13px;
            }
        }
    }
}
