.product-plans {
    .chakra-accordion__item {
        border: none;
    }
    .chakra-accordion__button {
        padding: 0;
    }
    .chakra-accordion__panel {
        padding: 12px 24px 24px;
    }
}

.product-plan {
    background-color: white;
    margin: auto;
    border-radius: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    max-width: 360px;
    margin-top: 24px;
    overflow: hidden;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            font-weight: 400;
            font-size: 20px;
        }

        .price {
            margin-left: 12px;
            background-color: var(--props-color);
            color: white;
            font-weight: 800;
            font-size: 14px;
            padding: 6px 14px;
            border-radius: 24px;
        }
    }

    .container {
        padding: 24px;
        width: 100%;
    }

    .description {
        margin-top: 16px;
        .description-item {
            line-height: 1.8;
            font-size: 16px;
        }
    }
}

.plan-option {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 14px 0;
    padding: 16px 16px 16px 24px;
    border-radius: 24px;
    box-shadow: var(--box-shadow);
    width: 100%;
    // max-width: 340px;
    font-size: 18px;
    align-items: center;

    &__duration {
        font-weight: 700;
    }

    &__price {
        background-color: var(--props-color);
        color: white;
        font-weight: 800;
        font-size: 14px;
        padding: 4px 12px;
        border-radius: 32px;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .old-price {
                font-size: 13px;
            }
        }
    }
}
