@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700;900&display=swap');

/* #eb4340 */
@font-face {
    font-family: 'billCorp';
    src: local('billcorpnar-extrabold'),
        url('./fonts/billcorpnar-extrabold.ttf') format('woff');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

:root {
    --text-dark-color: #2f2f2f;
    --bg-light: #f2f2f2;
    --box-shadow: 0 0 24px #2f2f2f42;
    --green-spotify: #2ce271;
    --green-grammarly: #0dc49b;
    --red-netflix: #e50a15;
    --blue-google: #4285f4;
    --neumorphism: 28px 28px 42px #cecece, -28px -28px 42px #ffffff;
    --neumorphism-sm: 12px 12px 24px #cecece, -12px -12px 24px #ffffff;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif !important;
    /* font-family: 'Be Vietnam Pro', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;
    color: var(--text-dark-color);
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    background-color: #f2f2f2;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    overflow-x: hidden;
    overflow-y: auto;
    color: #303030;
}

#scroll-text-container {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation: scrollUp 3s ease-in-out normal;
    animation: scrollUp 3s ease normal forwards;
}

@-webkit-keyframes scrollUp {
    from {
        -webkit-transform: translateY(0.5%);
        transform: translateY(0.5%);
    }
    to {
        -webkit-transform: translateY(-85.75%);
        transform: translateY(-85.75%);
    }
}

@keyframes scrollUp {
    from {
        -webkit-transform: translateY(0.5%);
        transform: translateY(0.5%);
    }
    to {
        -webkit-transform: translateY(-85.75%);
        transform: translateY(-85.75%);
    }
}
